asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.17
django-cors-headers==4.6.0
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
idna==3.10
mysqlclient==2.2.6
numpy==2.0.2
pandas==2.2.3
pgeocode==0.4.1
pycountry==24.6.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
